* {
    box-sizing: border-box;
}
.header {
    /*border: 1px solid #BEBEBE;*/
    border-radius: 3px;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 5px;
    /*border: 1px solid ;*/
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 5px;
    /*border: 1px solid #BEBEBE;*/
    margin-top: 5px;
    border-radius: 3px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}



html {
	background-color: ;
	background-image: radial-gradient(rgb(156 156 156)	, rgb(0 0 0));	

}

main {
	width: 100%;
	margin:1px auto;
	font-family: sans-serif;
	font-size: 13px;
	background-color: transparent;


}


.foto_patrocinador {
	border-radius: 3px;


}


.img_topo {	 
	margin-top: 5px;
	width: 100%;
	height: 30%;

}
nav {
	background-color: #1C1C1C;
}

ul {
	margin: 0 ;
	padding: 3px;
	
	

}

ul li  {
	
	list-style-type: none;
	display: inline-block;

}

li a{
	border-left: 1px solid #2F4F4F;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	color: #00FF00;
	background-color: #1C1C1C;
	padding:6px;
	font-weight: bold;
	display: inline-block;
	width: 8em;
	height: 30px;

}

li a:hover {
	background-color: black;
}

<br>{
	margin-bottom: : 15px;
}

img {
	border: 1px solid #1C1C1C;
    border-radius: 4px;
    padding: 3px;
}

p {
	color: #DCDCDC;
	font-family: sans-serif;
	text-align: justify;
	

}
footer {
	margin-top: 20px;
}

.fotos {
	width: 300px;
	height: 200px;
}


.col-10 {
	background-color: transparent;
	margin-right: px;
	padding: 10px;

}

.col-2 {
	margin-left: 4px;
	background-color: #1C1C1C;
}

label{
	padding:5px;
	background-color: #00316b;
	color: #fff;
	font-family: sans-serf;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	width: 50px;
	height: 50px;
	display: none;
}

#home{
	border-left: none;
}

#contato{
	border-right: 1px solid #2F4F4F;
}

#patrocinador {
	margin-top: 5px;
	width:16%;
	padding: 5px;
	text-align: center;
	background-color:transparent;
	float: right;
	
}


#menu {
	border: 1px solid #2F4F4F;
	background: #1C1C1C;
	border-radius: 3px;
	width: 100%;
	opacity: 0.7;
	padding: 4px;
	
}



#footer {
	border: 1px solid #1C1C1C;
	margin-top: ;
	text-align: center;
	background-color: transparent;
	width: 100%;
	height: 60px;
	clear: both;

}

@media only screen and (max-width: 600px) {
    label{
    	color: #4f4f4f;
    	background-color: #000;
    	border: 1px solid #1C1C1C;
    	border-radius: 3px;
    	display: block;
    }

    ul li {
    	width: 100%;
    	display: block;
    	height: 50px;
    	
    }

    li a{
    	padding: 15px;
    	width: 100%;
    	margin-left: none;
    	height: 50px;
    	border-left: none;
    	border-bottom: 1px solid #4f4f4f;
    }

    h1 {
    	text-align: center;
    }

    h2{
    	text-align: center;
    }
    #menu{
    	margin-top: -500px;
    	padding: 0px;
    	border: none;
    	background-color: transparent;

    	
    }

    #menu-responsivo{
    	padding: 4px;
    	width: 100%;
    	border: 1px solid #1C1C1C;
    	display: block;
    }

    #contato{
    	border-right: none;
    }

    #principal {
    	margin-top: 0px;
    	border: 1px solid #1C1C1C;
    	border-radius: 2px;
    	width: 100%;
    	

    }

    #patrocinador {
    	border: 1px solid #1C1C1C;
    	border-radius: 2px;
    	width: 100%;

    }

    .fotos {

    }


}

